body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-container {
    display: flex;
  }
  
  .menu-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-item li {
    margin-right: 15px;
  }
  .menu-item li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
  }
  
  .menu-item li a:hover {
    background-color: #7d7b7b;
  }